<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Book</title>
    </head>
    <body>
        <h1>Add Book</h1>

        <form method="POST" action="/add-book">
            <div>
                <label>Title</label>
                <input type="text" name="title" required />
            </div>
            <div>
                <label>Author</label>
                <input type="text" name="author" required />
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="description" required />
            </div>
            <div>
                <label>Image</label>
                <input type="text" name="image" required />
            </div>
            <div>
                <button type="submit">Add Book</button>
            </div>
        </form>
    </body>
</html>